<h1>About</h1> 
<p>
	<%= link_to "One Month Rails", "http://onemonthsrails.com" %>
	is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month (although if you are working full time it may take a couple of months). This is the sample app.
</p>

